body {
    background-image: url('train-bkg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#header {
    padding: 50px;
    text-align: center;
}

/* Media Queries */

/* @media (max-width: 1020px) {
    This is where the background image gets busted
} */